body, html {
	margin-top:10px;
	font-family: 'Roboto', sans-serif;
	color: lightgray;
	height: 80%;
	background-color:#1a1a1a;
}

a.btn{
    height:25px;
    line-height:25px;
    vertical-align:middle;
    text-align:center;
    padding:0 10px;
    background-color:#adadad;
    position:relative;
    display:inline-block;
    margin-bottom:15px;
}

a.btn:hover{
    background-color:#e0e0e0;
}

a.btn:after{
    position:absolute;
    right:-25px;
    content:" ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12.5px 0 12.5px 25px;
    border-color: transparent transparent transparent #adadad;
}

a.btn:hover:after{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12.5px 0 12.5px 25px;
    border-color: transparent transparent transparent #e0e0e0;
}
